/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 10px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para las secciones */
.acciones, .retirarDinero, .consignarDinero, .transferirDinero, .consultarDinero {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Estilos para los títulos */
h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

/* Estilos para los botones */
button {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #4d84e2;
}

/* Estilos para los formularios */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Estilos para el saldo */
#saldoDisponible {
    font-size: 22px;
    color: #333;
}


