@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: #7EAA92;
  color: #312d2d;
  font-family: "Poppins", sans-serif;
}

.acciones {
  text-align: center;
  margin-top: 100px;
}

.acciones h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.acciones button {
  font-size: 24px;
  padding: 20px 40px;
  margin: 20px;
  background-color: #f8f9f9;
  color: #312d2d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.acciones button:hover {
  background-color: #2ecc71;
}

.formulario-container {
  display: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

.formulario-container h2 {
  margin-top: 0;
  font-size: 28px;
  color: #333;
}

.formulario-container input {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.formulario-container button {
  font-size: 20px;
  padding: 15px 30px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario-container button:hover {
  background-color: #27ae60;
}


#cerrar-seccion {
  text-align: center;
  margin-top: 40px; 
}

#cerrar-seccion button {
  font-size: 24px;
  padding: 20px 40px;
  background-color: #f82d4a;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#cerrar-seccion button:hover {
  background-color: #d32741; 
}


#saldoDisponible {
  font-size: 42px;
  font-weight: bold;
  color: #2ecc71;
  margin-top: 20px;
}

#movimientosRealizados {
  font-size: 18px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .acciones {
    margin-top: 50px;
  }

  .acciones h2 {
    font-size: 24px;
  }

  .acciones button {
    font-size: 18px;
    padding: 15px 30px;
  }

  .formulario-container {
    padding: 20px;
    margin-top: 20px;
  }

  .formulario-container h2 {
    font-size: 24px;
  }

  .formulario-container input {
    padding: 10px;
    margin: 10px 0;
  }

  .formulario-container button {
    font-size: 16px;
    padding: 12px 24px;
  }

  #saldoDisponible {
    font-size: 36px;
    margin-top: 15px;
  }

  #movimientosRealizados {
    font-size: 14px;
  }
}

